extends ../layout/index
block contenido
	main.container.mt-5
		h1.text-center.mb-5 #{pagina}
		.row
			.col-md-12
				blockquote.text-center Lee sobre nuestro testimonios
				include ../layout/partials/testimoniales
			.col-md-12
				h2.text-center Agrega un testimonial
					if(errores)
						each error in errores
							.alert.alert-danger.text-center=error.mensaje
				.row.justify-content-center
				.col-md-8
				form(action='/testimoniales', method="POST")
					.form-group
						label(for="nombre") Nombre 
						input(id="Nombre", class="form-control", type="text", placeholder="Tu nombre", name="nombre", value=nombre)
					.form-group
						label(for="corre") Correo Electronico 
						input(id="Nombre", class="form-control", type="text", placeholder="Tu correo Electroníco", name="correo" , value=correo)
					.form-group
						label(for="mensaje") Mensaje 
						textarea#mensaje( name="mensaje", rows="3", class="form-control",  placeholder="Tu mensaje")=mensaje
					input.btn.btn-success.btn-block(type="submit", value="Agrgar")
				
